extends ../layouts/layout.pug

block content
    h2 Search Authors
    form(action='/authors' method='GET')
        label Name
        input(type='text' name='name' value=searchOptions.name)
        button(type='submit') Search
    br
    each author in authors
        div=author.name
        a(href=`/authors/${author.id}`) View
        a(href=`/authors/${author.id}/edit`) Edit
        - url = `/authors/${author.id}`
        include ../partials/deleteForm 