extends ../layouts/layout.pug

block content
    h2(class='page-header') Search Authors
    form(action='/authors' method='GET')
        label Name
        input(type='text' name='name' value=searchOptions.name)
        button(type='submit') Search
    br
    each author in authors
        div=author.name
        div(class='btn-row')
            a(class='btn btn-primary' href=`/authors/${author.id}`) View
            a(class='btn btn-primary' href=`/authors/${author.id}/edit`) Edit
            - url = `/authors/${author.id}`
            include ../partials/deleteForm 